.confirm__delete-modal {
    background-color: #ffffff;
    max-width: 670px;
    max-height: 280px;
    margin: auto;
    border-radius: 20px;
    border: 1px;
    text-align: center;
    
    
}

.confirm__delete-modal__header {
max-width: 367px;
max-height: 48px;
margin-top: 331px;
margin-bottom: 536px;

font-family: "Cabinet Grotesk", sans-serif;
font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
color: #000000;
}

.confirm__delete-modal__message {
    margin-bottom: 20px;
}

.confirm__delete-modal__actions {
    display: flex;
    justify-content: space-around;
}

.confirm__delete-modal__actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirm__delete-modal__actions__delete-button {
    background-color: #FF4D00;
    color: #ffffff;

}

.confirm__delete-modal__actions__cancel-button {
    background-color: #cccccc;
    color: black;
}