.modal__content_type_image {
    max-width: 498px;
    max-height: 610px;
    margin-top: 106px;
    width: 100%;
    border-radius: 20px;
    background-color: unset;
    padding: 0;


}

.modal__image {
    max-width: 498px;
    max-height: 498px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.modal__caption {
    width: 498px;
    height: 610px;
    border-radius: 16px;
    background-color: #D9D9D9;
}