.modal__content_type_image {
    max-width: 498px;
    max-height: 610px;
    margin-top: 106px;
    width: 100%;
    border-radius: 20px;
    background-color: unset;
    padding: 0;


}

.modal__image {
    max-width: 498px;
    max-height: 610px;
    width: 100%;
}