.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 20%;
}

.sidebar__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.sidebar__username {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
