.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}

.sidebar__avatar {
  display: flex;
  gap: 12px;
}
.sidebar__username {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
