.footer {
    width: 1358px;
    height: 20px;
    top: 1040px;
    left: 40px;
    margin-top: 24px;
    color: #000000;
}

.footer p {
    display: flex;
    justify-content: center; 
  }

  .footer span {
    margin-left: 8px; 
  }
  