body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.clothes-section {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.clothes-section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.clothes-section__item {
  color: #333;
  background-color: #fff;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clothes-section__item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.clothes-section__item img {
  max-width: 100%;
  height: auto;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;

  color: #000000;
  border: none;
  background: none;
  white-space: nowrap;
}

.add-item-button {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  color: #000000;
  border: none;
  border-radius: transparent;
  background-color: none;
  white-space: nowrap;
}

.add-item-button:hover {
  background-color: #0056b3;
}

.header {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .clothes-section__list {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Fewer columns on smaller screens */
    gap: 15px; /* Adjust gap */
  }

  .clothes-section__item {
    height: 150px; /* Adjust height */
  }
}

@media (max-width: 480px) {
  .clothes-section__list {
    grid-template-columns: 1fr; /* Single column on very small screens */
  }

  .clothes-section__item {
    height: 120px; /* Further adjust height */
  }
}
